@import "tailwindcss";

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #2a2a2a;
  --foreground: #F9F8F0;
  --primary-color: #8B2D33;
  --secondary-color: #FFBC5E;

  --paragraph-text: "PT Sans", sans-serif;

  --paragraph-size: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--paragraph-text);
  font-family: var(--paragraph-text);
  font-size: var(--paragraph-size);
}

